/* Frame 1000002716 */

/* Auto layout */
.cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  isolation: isolate;
  width: 1112px;
  height: 400px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Ladders */

.betting-card {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 28px;
  gap: 10px;
  width: 1112px;
  height: 120px;
  background: radial-gradient(30.42% 258.48% at 107.54% -92.58%, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(29.17% 247.89% at -10.59% -74.24%, rgba(12, 130, 243, 0.5) 0%, rgba(12, 130, 243, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(90deg, rgba(0, 130, 255, 0.1) 0%, rgba(255, 0, 0, 0.1) 100%), rgba(0, 0, 0, 0.55);
  background-blend-mode: screen, screen, normal, normal;
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

/* Frame 1000002551 */

.card-content {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 32px;
  margin: 0 auto;
  width: 1056px;
  height: 64.95px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* image 45 */

.card-logo {
  margin: 0 auto;
  width: 112.93px;
  height: 59.69px;
  background: url(image.png);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Frame 1000002545 */

.card-bonus {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  margin: 0 auto;
  width: 260px;
  height: 57px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Frame 1000002719 */

.bonus-amount {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 233px;
  height: 30px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* 100€ */

.bonus-number {
  width: 68px;
  height: 30px;
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  /* or 53px */
  /* leading-trim and text-edge are draft CSS properties.
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  color: #FF0004;
  text-shadow: 0px 0px 20px rgba(255, 0, 4, 0.5);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* de bonus */

.bonus-text {
  width: 157px;
  height: 30px;
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  /* or 53px */
  /* leading-trim and text-edge are draft CSS properties.
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* 1er pari perdu rembourse */

.bonus-description {
  width: 287px;
  height: 11px;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  /* leading-trim and text-edge are draft CSS properties.
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Trust */

.card-rating {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  margin: 0 auto;
  width: 197px;
  height: 62px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Frame 1000002723 */

.rating-content {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 173px;
  height: 38px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Frame 1000002717 */

.rating-header {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 173px;
  height: 10px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Évaluation */

.rating-label {
  margin: 0 auto;
  width: 86px;
  height: 10px;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  /* leading-trim and text-edge are draft CSS properties.
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* 95% */

.rating-percentage {
  margin: 0 auto;
  width: 30px;
  height: 10px;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  /* leading-trim and text-edge are draft CSS properties.
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Group 1000002458 */

.rating-bar {
  width: 173px;
  height: 16px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Rectangle 40015 */

.rating-background {
  position: absolute;
  width: 173px;
  height: 16px;
  left: 0px;
  top: 22px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/* Rectangle 40016 */

.rating-fill {
  position: absolute;
  width: 163.36px;
  height: 16px;
  left: 0px;
  top: 22px;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #00FF95;
  background-blend-mode: plus-lighter, normal;
  border-radius: 4px;
}

/* Frame 1000002485 */

.payment-methods {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  gap: 4px;
  margin: 0 auto;
  width: 172.57px;
  height: 64.95px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

/* Frame 1000002709 */

.payment-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 14.4762px;
  gap: 7.62px;
  width: 54.86px;
  height: 30.48px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 3.80952px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.payment-icon:nth-child(1) {
  padding: 0px 14.4762px;
}

.payment-icon:nth-child(2) {
  padding: 0px 10.6667px;
}

.payment-icon:nth-child(3) {
  padding: 0px 6.09524px;
}

.payment-icon:nth-child(4) {
  padding: 0px 6.85714px;
}

.payment-icon:nth-child(5),
.payment-icon:nth-child(6) {
  padding: 0px 9.90476px;
}

/* Vector */

.payment-icon .payment-vector {
  background: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.payment-icon:nth-child(1) .payment-vector {
  width: 25.9px;
  height: 15.11px;
}

.payment-icon:nth-child(2) .payment-vector {
  width: 33.52px;
  height: 10.03px;
}

.payment-icon:nth-child(3) .payment-vector {
  width: 42.67px;
  height: 6.86px;
}

.payment-icon:nth-child(4) .payment-vector {
  width: 41.14px;
  height: 10.97px;
}

.payment-icon:nth-child(5) .payment-vector {
  width: 35.05px;
  height: 11.98px;
}

.payment-icon:nth-child(6) .payment-vector {
  width: 35.05px;
  height: 14.38px;
}

/* Card Button */

.card-button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  gap: 20px;
  margin: 0 auto;
  width: 165px;
  height: 64px;
  background: linear-gradient(90deg, #E96500 0%, #E99F00 100%);
  border-radius: 5px;
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

/* DÉBLOQUEZ LE BONUS */

.card-button-text {
  width: 117px;
  height: 34px;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */
  /* leading-trim and text-edge are draft CSS properties.
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* PMU Variant - Frame 1000002704 */

.betting-card.pmu {
  background: radial-gradient(30.42% 258.48% at 107.54% -92.58%, #FF0000 0%, rgba(255, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(29.17% 247.89% at -10.59% -74.24%, #0C82F3 0%, rgba(12, 130, 243, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(90deg, rgba(0, 130, 255, 0.4) 0%, rgba(255, 0, 0, 0.4) 100%), rgba(0, 0, 0, 0.55);
  background-blend-mode: screen, screen, normal, normal;
  order: 1;
  z-index: 1;
}

.betting-card.pmu .card-logo {
  background: url(pmu.png);
}

.betting-card.pmu .bonus-amount {
  width: 241px;
}

.betting-card.pmu .bonus-number {
  width: 76px;
}

.betting-card.pmu .bonus-description {
  width: 240px;
}

.betting-card.pmu .card-rating {
  height: 62.75px;
}

.betting-card.pmu .rating-content {
  height: 38.75px;
}

.betting-card.pmu .rating-bar {
  height: 16.75px;
}

.betting-card.pmu .rating-percentage {
  width: 30px;
}

.betting-card.pmu .rating-background {
  width: 170.88px;
  left: 2.12px;
  top: 22.75px;
}

.betting-card.pmu .rating-fill {
  width: 145.83px;
  top: 22px;
}

.betting-card.pmu .card-button {
  background: #FFFFFF;
}

.betting-card.pmu .card-button-text {
  background: linear-gradient(90deg, #E96500 0%, #E99F00 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* NetBet Variant - Frame 1000002705 */

.betting-card.netbet {
  background: radial-gradient(30.42% 258.48% at 107.54% -92.58%, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(29.17% 247.89% at -10.59% -74.24%, rgba(12, 130, 243, 0.5) 0%, rgba(12, 130, 243, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(90deg, rgba(0, 130, 255, 0.1) 0%, rgba(255, 0, 0, 0.1) 100%), rgba(0, 0, 0, 0.55);
  background-blend-mode: screen, screen, normal, normal;
  order: 2;
  z-index: 2;
}

.betting-card.netbet .bonus-amount {
  width: 247px;
}

.betting-card.netbet .bonus-number {
  width: 82px;
}

.betting-card.netbet .bonus-description {
  width: 282px;
}

.betting-card.netbet .card-rating {
  height: 63px;
}

.betting-card.netbet .rating-content {
  height: 39px;
}

.betting-card.netbet .rating-bar {
  height: 17px;
}

.betting-card.netbet .rating-percentage {
  width: 29px;
}

.betting-card.netbet .rating-background {
  width: 170.17px;
  left: 2.83px;
  top: 23px;
}

.betting-card.netbet .rating-fill {
  width: 111.06px;
  top: 22px;
}